@import './base/variables';
@import './components/button';
@import './pages/signin';


*{
   box-sizing: border-box;

}

html,
body{
    color: white;
    width: 100%;
    height: 100%;
    background: $bodyBgcolor;
}