
.btn{
    // margin: 25px auto;
    background-color: $blueColor;
    width: 180px;
    // margin-left: 40%;
    padding: 10px;
   // height: 58px !important;
    border-radius: calc(infinity * 1px);
}